.main {
  position: absolute;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#back {
}

#page {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.side-left {
  transform: translateX(100%);
}
.Button-class {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(6, 173, 173);
  border: none;
}
.btn-div {
  border: solid black 2px;
}
.input-text {
  background-color: transparent;
  width: 20rem;
  height: 5rem;
  margin: 10px 10px;
  font-size: 5rem;
  text-align: right;
}
.btn-calc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 kolumny */
  gap: 10px;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 5px;
}
.text-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 5rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 2rem 5rem 10px rgba(0, 0, 0, 0.356);
  transition: all 0.2s;
}

.btn-back:hover {
  transform: scale(1.05);
}
.btn-back:active {
  transform: translateY(5px);
}

.main {
}
