.main {
  position: absolute;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#back {
}

#page {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.side-left {
  transform: translateX(100%);
}
.Button-class {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(6, 173, 173);
  border: none;
}
.btn-div {
  border: solid black 2px;
  box-shadow: ;
  box-shadow: 0px 7px 76px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 76px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 76px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  transition: all 1s;
}
.btn-div:hover {
  transform: scale(1.05);
  transform: all 0.2s;
}

.input-text {
  background-color: transparent;
  width: 20rem;
  height: 5rem;
  max-width: 20rem;
  max-height: 5rem;

  margin: 10px 10px;
  font-size: 2rem;
  text-align: right;

  word-break: break-all;
  overflow-y: auto;
}
.btn-calc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 kolumny */
  gap: 10px;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
}
.text-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  max-width: 20rem;
  max-height: 5rem;
  border-bottom: solid 2px black;
  margin-bottom: 3rem;
}

.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 5rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 2rem 5rem 10px rgba(0, 0, 0, 0.356);
  transition: all 0.2s;
}

.btn-back:hover {
  transform: scale(1.05);
}
.btn-back:active {
  transform: translateY(5px);
}

.main {
}

.Button-class:hover {
  background-color: lch(19.81% 17.99 23.79 / 0.397);
  box-shadow: ;
  box-shadow: 0px 7px 76px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 76px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.75);
  color: white;
  transition: all 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(6, 173, 173, 0.7);
  }
  70% {
    box-shadow: 0 0 40px 20px rgba(6, 173, 173, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(6, 173, 173, 0);
  }
}

.main {
  /* ...inne style... */
  animation: pulse 2s infinite;
}
