body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  height: 100vh;
  overflow: hidden;
}
.move {
  transform: translateX(100%);
}

#page {
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
